.card-header{
    margin: 1%;
}

.bt{
    float: right;
 }

 .addbtn{
     @extend .bt;
     display: flex;
     align-self: center
 }

.firstLabel{
    margin-right: 3%;
}

mat-card {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
  }



  