<mat-toolbar color="primary" class="topbar">
  <button mat-button class="sidenav-toggle" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Employee Management System</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav mat-elevation-z10"
    [mode]="isSmallScreen() ? 'over' : 'side'"
    [opened]="!isSmallScreen()"
  >
    <mat-nav-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-list-item>Item 2</mat-list-item>
      <mat-list-item>Item 3</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
